*{
  box-sizing: border-box;
  margin: 0;
  /* color: #2f2f2f; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  color: #7D1E6A;
  /* color: #2c2c2c00; */
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.serviceFont{
  font-family: 'Lato', sans-serif;
  line-height: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.link:hover{
  color: grey;
}
.read-or-hide{
  color: grey;
  cursor: pointer;
}
.white {
  color: white;
  text-decoration: none;
  font-family: Poppins
}